/************************* RESET **************************
**********************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/************** CUSTOM VARIABLES***************
**************************************************/

:root {

      /* COLORS  */

    --text-color: #fff;
    --text-second-color: #6f6f6f;
    --aside-bg-color: #000000;
    --main-bg-color: #141922;
    --footer-bg-color: #282828;


}


/************** REUSABLE CLASSES ***************
**************************************************/

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

a:hover ,
button:hover {
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden,
.play-hover {
    display: none;
}

.mb-10 {
    margin-bottom: 10px;
}

.container-top {
    height: calc(100vh - 5rem);
}


/******************* HEADER *********************/

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: var(--main-bg-color);
} 

header .upgrade {
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    background-color: rgba(0,0,0,0.4);
}

header .upgrade .btn {
    padding: 10px 28px;
    border-radius: 25px;
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid white;
    font-weight: 600;
    margin-right: 0.5rem;
    transition: ease .40s;
}

header .upgrade .btn:hover {
    transform: scale(1.070);
}


/******************* ASIDE *********************/

aside {
    width: 50px;
    height: 100%;
    background-color: var(--aside-bg-color);
    color: var(--text-second-color);
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-nav ul li:nth-of-type(1) {
    margin-bottom: 1rem;
}

aside a {
    color: var(--text-second-color);
}

aside img:hover {
    color: #fff;
}

.menu-nav ul li:not(li:nth-of-type(1)) {
    margin-bottom: 0.3rem;
}

aside .menu-nav img:not(.spotify-logo-lg),
aside .playlist-ctn .playlist-bottom img {
    width: 28px;
}


.playlist-ctn .playlist-bottom .download a > img {
    width: 1.4rem;
    margin-bottom: 1rem;
}

.playlist-ctn .playlist-bottom .user-acc a > img {
    background-color: #808080;
    border-radius: 50%;
}

/******************* MAIN *********************/

main {
    background-color: var(--main-bg-color);
    height: 100%;
    width: calc(100% - 50px);
    overflow: auto;
    position: relative;
}

.main-content {
    margin-top: 6rem;
    padding: 0 24px;
}

.main-content  nav {
    font-size: 0.8rem;
    font-weight: 800;
    align-items: flex-start;
}

.main-content  nav ul {
    justify-content: center;
    flex-wrap: wrap;
}

/* .main-content  nav ul li {
    
} */

.main-content  nav ul li  a {
    color: var(--text-second-color);
}

.main-content  nav ul li:hover  a {
    color: var(--text-color);
}


.recently-played,
.user-taste,
.famous-artist {
    margin-top: 2rem;
    color: var(--text-color);
}

.recently-played h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.user-taste h5,
.famous-artist h5 {
    font-size: 0.9rem;
    margin: 0.5rem 0 1rem;
}

.recently-played h3,
.user-taste h3,
.famous-artist h3 {
    margin: 0.5rem 0;
    font-weight: 800;
}

.user-taste h5,
.famous-artist h5,
.recently-played h4 {
    color: var(--text-second-color);
}

.album {
    flex-wrap: wrap;
    margin: 0 -5px;
}

.album .item {
    width: calc(100% / 2 - 10px);
    margin: 0 5px;
    margin-bottom: 0.5rem;
    align-self: stretch;
}

.album .item .music-cover img {
    width: 100%;
}

.album .item .music-description {
    text-align: center;
}

.famous-artist > .album .item .music-cover img {
    border-radius: 50%;
    object-fit: cover;
}




/******************* FOOTER *********************/

footer {
    position: absolute;
    width: 100%;
    z-index: 400;
    background-color: var(--footer-bg-color);
    height: 5rem;
} 


/********************* MEDIA QUERIES ****************
******************************************************/

/********** TABLET SMALL ***********/

@media screen and (min-width: 552px) {

  
    
    
}

/********** TABLET LARGE ***********/


@media screen and (min-width: 640px) {


    header {
        height: 5rem;
    }

    aside {
        width: 241px;
        background-color: var(--aside-bg-color);
        padding: 1.3rem 0 0.5rem 1.3rem;
        justify-content: flex-start;
        position: relative;
    }

    aside img {
        margin-right: 0.2rem;
    }

    aside li > a:hover,
    .download a:hover,
    aside > .create-btn:hover button,
    aside > .create-btn:hover span  {
    cursor: pointer;
    color: #fff;
    }

    aside img, 
    aside span,
    aside button {
        vertical-align: middle;
    }

    aside .menu-nav img:not(.spotify-logo-lg),
    aside .playlist-ctn .playlist-bottom img {
    width: 24px;
    }

    .menu-nav ul li:not(li:nth-of-type(1)) {
        margin-top: 0.3rem;
    }

    .spotify-logo-sm {
        display: none;
    }

    .spotify-logo-lg {
        width: 130px;
        margin-bottom: 0.1rem;
    }

    aside .menu-nav ul,
    aside .playlist-ctn .playlist-top,
    aside .playlist-ctn .playlist-bottom {
        align-items: flex-start;
    }

    .playlist-ctn {
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: space-between;
        overflow: auto;
    }

    aside button {
        background-color: var(--text-second-color);
        color: var(--aside-bg-color);
        border: 0;
        padding: 6px 10px;
        font-size: 1.2rem;
        font-weight: 800;
        margin-right: 0.4rem;
    }


    .playlist-ctn .playlist-bottom .download a > img {
        margin: 0;
    }

   aside h3,
   .playlist-bottom .user-acc a > span {
    color: #fff;
    font-weight: 800;
   }

    hr {
        width: 90%;
        margin: 0.7rem 0;
    }

    main {
        background-color: var(--main-bg-color);
        width: calc(100% - 241px);
        overflow: auto;
    }

    
    footer {
        position: absolute;
        width: 100%;
        z-index: 400;
        background-color: var(--footer-bg-color);
        height: 5rem;
    } 

    .hidden {
        display: inline-block;
    }
  
}

/********** LAPTOP TO LARGER DESKTOP  ***********/


@media screen and (min-width: 878px) {

    header {
        height: 5rem;
    }

    aside {
        width: 241px;
        background-color: var(--aside-bg-color);
    }

    main {
        background-color: var(--main-bg-color);
        width: calc(100% - 241px);
        overflow: auto;
    }
      
    .album .item {
        width: calc(100% / 4 - 10px);
        margin: 0 5px;
        margin-bottom: 0.5rem;
        align-self: stretch;
    }
    
    footer {
        position: absolute;
        width: 100%;
        z-index: 400;
        background-color: var(--footer-bg-color);
        height: 5rem;
    } 

    
}
   